{#include base}
    {#body}
        <div class="container" id="task-app">

            <h1>My Tasks</h1>

            <form action="/tasks" method="POST" hx-target="#task-list" hx-swap="beforeend">
                <input class="new-task" name="title" placeholder="What do you need to do?" />
            </form>

            <form class="sortable" hx-post="/tasks/rerank" hx-trigger="end" hx-target="#task-app" hx-swap="none">
                <div class="task-list" id="task-list">
                    {#for task in tasks }
                        {#include TaskResource/task.html task=task /}
                    {/for}
                </div>
            </form>

        </div>
    {/body}
{/include}