{@java.lang.Boolean showCompleted}

{#include base}
    {#body}
        <div class="container" id="task-app">

            <h1>My Tasks</h1>

            <div class="flex-row flex-align-center">
                <form action="/tasks" method="POST" hx-target="#task-list" hx-swap="beforeend">
                    <input class="task-title new-task" name="title" placeholder="What do you need to do?" />
                </form>
                <span class="mg-left-auto mg-rt-3 color-primary fnt-wt-6">Show Completed?</span>

                 {! sliding toggle implementation based on https://www.w3schools.com/howto/howto_css_switch.asp !}
                <label class="sliding-toggle">
                    <input type="checkbox"
                           {#if showCompleted}
                               checked
                               hx-get="/tasks"
                               hx-headers='\{ "X-Override-ShowCompleted": false }'
                           {#else}
                               hx-get="/tasks?state=complete&state=open"
                               hx-headers='\{ "X-Override-ShowCompleted": true }'
                           {/if}
                           hx-target="#task-app"
                           hx-swap="outerHTML">
                    <span class="slider"></span>
                </label>
            </div>

            {!
              Example for Sortable: https://htmx.org/examples/sortable/
              Use a <div> instead of a form, so that we don't have nested forms for editing the task.
              We have to specify [name='item'] so that it doesn't include form/input data from
              all the nested forms within the Task template.
            !}
            <div class="sortable" hx-post="/tasks/rerank" hx-trigger="end" hx-swap="none" hx-include="[name='item']">
                <div class="task-list" id="task-list">
                    {#for task in tasks }
                        {#include TaskResource/task.html task=task /}
                    {/for}
                </div>
            </div>
    {/body}
{/include}